<footer>
    <div class="container">
        <p>&copy; 2019 Sistemas AGBC</p>
        <ul class="list-inline">
            <li>
                <a href="#especial">Especial</a> |
            </li>
            <li>
                <a href="#descripcion">Descripción Navideña</a> |
            </li>
            <li>
                <a href="#registro">Registrarse</a>
            </li>
        </ul>
    </div>
</footer>
