<section id="especial" class="couponsection bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <h2 class="title section-heading">December Only</h2>
                <p>Get your discount, available in stores this month only</p>
                <div class="coupon">
                    <img src="assets/img/gift.png">
                    <h3>50% Off All Themes!</h3>
                    <h4>Coupon Code: <span style="border-bottom:1px dashed">ZUTHEMES50</span> </h4>
                    <br />
                    <p><i>Use this coupon code at checkout to receive<br /> <u>half off</u> your Zu Themes order. Hurry
                            up, limited order!</i></p>
                    <p><a href="http://www.zuthemes.com" class="btn btn-buynow"><i class="fa fa-shopping-cart"></i> Shop
                            Now</a>

                </div>
            </div>
        </div>
    </div>
</section>

<section id="descripcion">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2 class="title">Descripción Navideña</h2>
                    <p class="text-muted">Contact us if you have a different question</p>
                    <img src="assets/img/sep.png" width="120">
                </div>
            </div>
        </div>
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="col-md-6">
                    <h3>How soon do I get my item?</h3>
                    <p> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                        embarrassing hidden in the middle of text.</p>

                    <h3>Is there a free shipping?</h3>
                    <p> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                        embarrassing hidden in the middle of text.</p>

                    <h3>Can I get several discounts?</h3>
                    <p> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                        embarrassing hidden in the middle of text.</p>
                </div>
                <div class="col-md-6">
                    <h3>Do you deliver it as a gift?</h3>
                    <p> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                        embarrassing hidden in the middle of text.</p>

                    <h3>What payment methods?</h3>
                    <p> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                        embarrassing hidden in the middle of text.</p>

                    <h3>I have a different question?</h3>
                    <p> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything
                        embarrassing hidden in the middle of text.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="registro">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="section-heading">
                    <h2 class="title" style="margin-bottom:60px;color:#fff;">Registro de Datos</h2>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <div class="done">
                <div class="alert alert-success">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    Your message has been sent. Thank you!
                </div>
            </div>
            <form method="post" action="contact.php" id="contactform">
                <div class="form">
                    <div class="row">
                        <div class="col-md-6">
                            <input type="text" name="name" placeholder="Name *">
                        </div>
                        <div class="col-md-6">
                            <input type="text" name="email" placeholder="E-mail *">
                        </div>
                    </div>
                    <textarea name="comment" rows="7" placeholder="Message *"></textarea>
                    <input type="submit" id="submit" class="clearfix btn" value="Send">
                </div>
            </form>
        </div>
    </div>
    <div class="overlay"></div>
</section>
