<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background-color: rgba(64, 63, 63, 0.8) !important;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img class="iconlogo" src="assets/img/iconlogo.png"
                    width="50"> AGBC - NAVIDAD TRACKING</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a class="page-scroll menuhighlight" href="#especial"><i class="fa fa-send"></i> ESPECIAL</a>
                </li>
                <li>
                    <a class="page-scroll menuhighlight" href="#descripcion"><i class="fa fa-list"></i> DESCRIPCION</a>
                </li>
                <li>
                    <a class="page-scroll menuhighlight" href="#registro">
                        <i class="fa fa-user"></i> REGISTRARSE
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="device-container">
                    <img class="img-responsive" src="assets/img/homeimg.png">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h1>Merry Holidays</h1>
                        <h4>Make your visitors smile with this special landing page!</h4>
                        <br />
                        <a href="#" class="btnimg"><img src="assets/img/button-available.png" height="50"></a> <a href="#"
                            class="btnimg"><img src="assets/img/button-googleplay.png" height="50"></a>
                        <br />
                        <br />
                        <div class="social">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="audioembed">
        <audio controls="true" autoplay="true" src="assets/audio/audio.mp3" onloadeddata="setLowVolume()" id="audio1"></audio>
    </div>
</header>
